:root {
    --font-primary: "Cormorant Infant", serif;
    --font-secondary: "Cormorant Garamond", serif;
    --color-white: #FAFAFA;
    --color-yellow-dark: #E7B976;
    --color-yellow-text: #F4D59B;
    --color-darkred: #350000;
    --linear-gradient-text: linear-gradient(89.33deg, #FEDEA5 -6.27%, #FDF0D7 49.88%, #FEDEA5 99.43%), #FAFAFA;
    --linear-gradient-text-dark: linear-gradient(180deg, #F7EBAE 0%, #D08E1B 100%);
    --linear-gradient-text-dark2: linear-gradient(180deg, #FED631 43.38%, #5B160C 80.77%);
}

body {
    font-family: var(--font-primary);
    font-size: 1.273885vw; /* 16px / 1256px * 100 */
    background-color: #0C0308;
}

.wrapper {
    max-width: 100vw; /* 1256px -> 100vw */
    width: 100%;
    position: relative;
}

.text-gradient {
    background: var(--linear-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.text-gradient-dark {
    background: var(--linear-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.container {
    width: 100%;
    padding: 0 3.503185vw; /* 44px */
}

.container.container-sm {
    padding: 0 0.955414vw; /* 12px */
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.header-inner {
    padding: 1.592357vw 0 0; /* 20px */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2.388535vw; /* 30px */
}

.logo {
    width: 16.484076vw; /* 207px */
}

.navigation {
    display: flex;
    align-items: center;
    gap: 2.786942vw; /* 35px */
    padding: 1.592357vw 0 0; /* 20px */
}

.navigation-item {
    font-family: var(--font-primary);
    font-size: 1.114650vw; /* 14px */
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-white);
    text-decoration: none;
    white-space: nowrap;
    position: relative;
}

.navigation-item.active {
    color: #FDF0D7;
}

.navigation-item.active::after {
    content: '';
    position: absolute;
    bottom: -0.955414vw;
    width: 5.175159vw;
    height: 0.796178vw;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/svg/menu-active.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-button {
    background-color: transparent;
    border: none;
    background-image: url("../img/header-button-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.592357vw 0 0; /* 20px */
    width: 15.445860vw; /* 194px */
    height: 5.891720vw; /* 74px */
    margin-left: auto;
    cursor: pointer;
}

.header-button-text {
    background: var(--linear-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: flex;
    align-items: center;
    gap: 0.636943vw; /* 8px */
    text-transform: uppercase;
}

.header-button-text::after,
.header-button-text::before {
    content: '';
    display: block;
    width: 0.238854vw; /* 3px */
    height: 0.238854vw; /* 3px */
    background-image: url("data:image/svg+xml,%3Csvg width='3' height='3' viewBox='0 0 3 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='%23D9D9D9'/%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='url(%23paint0_linear_1_28)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_28' x1='-0.203125' y1='1.89407' x2='3.00414' y2='1.85681' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FEDEA5'/%3E%3Cstop offset='0.53125' stop-color='%23FDF0D7'/%3E%3Cstop offset='1' stop-color='%23FEDEA5'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-section {
    width: 100%;
    padding-top: 11.146497vw; /* 140px */
    height: 56.210191vw; /* 706px */
    min-height: 56.210191vw;
}

.relative-section {
    position: relative;
}

.section-bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.hero-inner {
    display: grid;
    grid-template-columns: 1fr 52.946815vw 1fr; /* 665px */
    align-items: flex-end;
    align-content: flex-end;
}

.hero-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.636943vw; /* 8px */
    position: relative;
    bottom: -7.165605vw; /* -90px */
}

.hero-list-item {
    display: flex;
    align-items: center;
    gap: 0.636943vw; /* 8px */
}

.hero-list-item > img {
    width: 4.617834vw; /* 58px */
    height: 4.617834vw; /* 58px */
}

.hero-list-item-text {
    display: flex;
    flex-direction: column;
}

.hero-list-item-text p {
    font-family: var(--font-primary);
    font-size: 0.955414vw; /* 12px */
    font-weight: 500;
    color: var(--color-white);
    line-height: 132%;
    text-transform: uppercase;
    max-width: 7.961783vw; /* 100px */
}

.hero-list-item-text span {
    font-family: var(--font-primary);
    font-size: 2.388535vw; /* 30px */
    font-weight: 500;
    line-height: 100%;
    background: var(--linear-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hero-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-head {
    width: 31.847134vw; /* 400px */
    margin-top: -1.592357vw; /* -20px */
}

.hero-title {
    width: 52.946815vw; /* 665px */
    margin-top: -2.707006vw; /* -34px */
}

.hero-separate {
    width: 21.496815vw; /* 270px */
    margin: 0.318471vw 0; /* 4px */
}

.hero-text {
    font-family: var(--font-secondary);
    font-size: 1.433121vw; /* 18px */
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    max-width: 36.624204vw; /* 460px */
    margin-top: -0.796178vw; /* -10px */
}

.hero-text.yellow-text {
    color: var(--color-yellow-dark);
    max-width: 26.751592vw; /* 336px */
}

.hero-hotline {
    width: 21.178344vw; /* 266px */
    height: 14.732484vw; /* 185px */
    background-image: url("../img/hero-hotline-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.273885vw; /* 16px */
    position: relative;
    bottom: -7.165605vw; /* -90px */
}

.hero-hotline-head {
    width: 8.757962vw; /* 110px */
}

.hero-hotline-title {
    display: flex;
    align-items: center;
    gap: 0.318471vw; /* 4px */
}

.hero-hotline-title img {
    width: 2.627389vw; /* 33px */
}

.hero-hotline-title p {
    font-family: var(--font-primary);
    font-size: 1.114650vw; /* 14px */
    font-weight: 700;
    line-height: 100%;
    background: var(--linear-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-transform: uppercase;
}

.hero-hotline-phone {
    font-family: var(--font-primary);
    font-size: 2.070064vw; /* 26px */
    font-weight: 500;
    line-height: 132%;
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
}

.hero-hotline-time {
    font-family: var(--font-primary);
    font-size: 0.955414vw; /* 12px */
    font-weight: 500;
    line-height: 132%;
    color: var(--color-white);
    text-transform: uppercase;
}

.hero-hotline-button {
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.636943vw; /* 8px */
    width: 13.057325vw; /* 164px */
    height: 2.388535vw; /* 30px */
    margin-top: 0.796178vw; /* 10px */
    background-image: url("../img/svg/more-button-border.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.hero-hotline-button span {
    background: var(--linear-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-transform: uppercase;
    font-size: 0.955414vw; /* 12px */
}

.hero-hotline-button img {
    width: 0.9vw;
}

.director-section {
    height: 52.308917vw; /* 657px */
    min-height: 52.308917vw;
}

.director-section .section-bg.section-bottom {
    top: auto;
    bottom: 0;
    z-index: 2;
}

.director-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26.273885vw 0 0; /* 330px 0 38px */
    position: relative;
    z-index: 1;
}

.director-info-bg {
    position: absolute;
    top: 1vw;
    width: 69.904459vw; /* 878px */
    height: auto;
    z-index: -1;
}

.director-info-title {
    background: var(--linear-gradient-text-dark);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 3.980892vw; /* 50px */
    font-family: var(--font-secondary);
    font-weight: 500;
}

.director-info-text {
    font-size: 1.910828vw; /* 24px */
    font-family: var(--font-secondary);
    font-weight: 500;
    color: var(--color-white);
}

.director-info-text.text-light {
    font-weight: 300;
}

.director-separate {
    width: 34.554140vw; /* 434px */
}

.director-name {
    background: var(--linear-gradient-text-dark);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 3.184713vw; /* 40px */
    font-family: var(--font-secondary);
    font-weight: 500;
}

.schedule-inner {
    display: grid;
    grid-template-columns: 44.426752vw 36.783439vw;
    width: 100%;
    max-width: 81.210191vw;
    margin: 0 3.980892vw 0 auto;
    padding: 1.592357vw 0 0;
}

.schedule-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}

.schedule-title .left {
    width: 11.783439vw;
}

.schedule-title .right {
    width: 11.783439vw;
}

.schedule-title .logo {
    width: 18.949045vw;
}

.schedule-info {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: -0.955414vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.910828vw 3.424204vw 1.433121vw 3.662420vw;
    height: 39.012739vw;
}

.schedule-info-bg {
    position: absolute;
    z-index: -1;
    width: 39.808917vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.schedule-info-title {
    width: 29.777070vw;
}

.schedule-info-subtitle {
    width: 27.866242vw;
    height: 4.379299vw;
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 1.512739vw;
    letter-spacing: 2%;
    color: #350F04;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.477707vw 2.229299vw;
    line-height: 104%;
    margin-top: 0.796178vw;
    background-image: url("../img/schedule-subtitle.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.schedule-table {
    position: relative;
    border-radius: 0 0 2.070064vw 2.070064vw;
    overflow: hidden;
    background-image: linear-gradient(-81deg, #EFB918 0%, #4A2600 12.5%, #EFB918 25%, #4A2600 37.5%, #EFB918 50%, #4A2600 62.5%, #EFB918 75%, #4A2600 87.5%, #EFB918 100%);
    padding: 0.079618vw;
    display: flex;
    flex-direction: column;
    gap: 0.079618vw;
    width: 100%;
    margin-top: auto;
}

.schedule-table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.079618vw;
}

.schedule-table-cell {
    text-align: center;
    background-image: linear-gradient(-81deg, #200800 0%, #3C1C00 60%, #291800 100%);
    font-family: var(--font-primary);
    font-size: 1.433121vw;
    font-weight: 700;
    text-transform: uppercase;
}

.schedule-table-cell span {
    background: linear-gradient(180deg, #F8D78A 43.38%, #DBA140 80.77%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: var(--font-primary);
    font-size: 1.433121vw;
    font-weight: 700;
}

.schedule-table-cell.light {
    background-image: linear-gradient(-81deg, #8A5C1A 0%, #F5CF56 60%, #8A5C1A 100%);
    color: #350000;
}

.schedule-info-bottom {
    width: 37.101911vw;
}

.schedule-list-title {
    width: 30.971338vw;
}

.schedule-list {
    display: flex;
    flex-direction: column;
    gap: 1.194268vw;
    margin-top: 0.318471vw;
}

.schedule-list-item {
    display: flex;
    align-items: flex-start;
    gap: 0.955414vw;
}

.schedule-list-item img {
    min-width: 1.751592vw;
    filter: drop-shadow(0px 0px 7.1px rgba(229, 149, 2, 0.8));
}

.schedule-list-item p {
    font-family: var(--font-secondary);
    font-size: 1.273885vw;
    font-weight: 600;
    line-height: 120%;
    color: #FDF0D7;
    text-transform: uppercase;
}

.faq-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 75.238854vw; /* 945px */
    margin: 0 auto;
}

.faq-title {
    width: 61.783439vw; /* 776px */
}

.faq-scrollcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 44.585987vw; /* 560px */
}

.faq-accordion {
    margin-top: -0.159236vw; /* -2px */
    position: relative;
    max-height: 3.821656vw;
}


.faq-accordion:first-child {
    margin-top: 0;
}

.faq-accordion-head {
    display: grid;
    align-items: center;
    grid-template-columns: 2.388535vw 1fr 2.785032vw; /* 30px 1fr 35px */
    gap: 1.114650vw; /* 14px */
    padding: 0.159236vw 2.547771vw 0; /* 2px 32px 0px */
    cursor: pointer;
    background-image: url("../img/faq-accordion-top.png"), url("../img/faq-accordion-bottom.png");
    background-position: center top, center bottom;
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    min-height: 3.821656vw; /* 48px */
}

.faq-accordion-dropdown {
    padding: 0 2.547771vw;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    position: relative;
    transition: 320ms ease-in-out;
    max-height: 0;
    background-image: url("../img/faq-accordion-center.png");
    background-position: top left;
    background-size: 100%;
    background-repeat: repeat-y;
}

.faq-accordion-dropdown p {
    background: #E5D38A;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 1.433121vw; /* 18px */
    font-family: var(--font-secondary);
    font-weight: 700;
}

.faq-accordion-head img {
    width: 100%;
}

.faq-accordion.active .faq-accordion-dropdown {
    padding: 2vw 2.547771vw 2vw;
    max-height: 50vw;
}
.faq-accordion .faq-accordion-dropdown::before {
    position: absolute;
    content: "";
    width: 100%;
    top: -0.3vw;
    left: 0;
    z-index: 2;
    height: 2.3vw;
    background-image: url("../img/faq-accordion-top.png");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.faq-accordion .faq-accordion-dropdown::after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: -0.3vw;
    left: 0;
    z-index: 2;
    height: 2.3vw;
    background-image: url("../img/faq-accordion-bottom.png");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.faq-question {
    background: var(--linear-gradient-text-dark);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 1.751592vw; /* 22px */
    font-family: var(--font-secondary);
    font-weight: 700;
}

.faq-arrow {
    filter: drop-shadow(0px 0px 7.1px rgba(229, 149, 2, 0.8));
    transition: 320ms ease-in-out;
}

.faq-accordion.active .faq-arrow {
    transform: rotate(180deg);
}

.rules-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.194268vw; /* 15px */
}

.rules-title {
    width: 51.751592vw; /* 650px */
    margin-bottom: 2.388535vw; /* 30px */
}

.rules-content {
    display: flex;
    flex-direction: column;
    gap: 1.194268vw; /* 15px */
    padding: 1.592357vw 4.777070vw 0 0; /* 20px 60px 0 0 */
}

.rules-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 51.751592vw; /* 650px */
    position: relative;
    padding-left: 5.334395vw; /* 67px */
}

.rules-item-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 5.175159vw; /* 65px */
}

.rules-line {
    width: 51.751592vw; /* 650px */
}

.rules-text {
    color: var(--color-yellow-text);
    font-size: 1.273885vw; /* 16px */
    font-family: var(--font-secondary);
    text-transform: uppercase;
    line-height: 120%;
    min-height: 3.184713vw; /* 40px */
    display: flex;
    align-items: center;
    padding-left: 0.955414vw; /* 12px */
}

.rules-link {
    width: 100%;
    height: 4.936306vw; /* 62px */
    background-image: url("../img/rules-button.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 400ms ease-in-out;
}

.rules-link span {
    display: flex;
    align-items: center;
    gap: 0.955414vw; /* 12px */
    font-size: 2.070064vw; /* 26px */
    font-family: var(--font-secondary);
    font-weight: 700;
    text-transform: uppercase;
    background: var(--linear-gradient-text-dark2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.rules-link span::after {
    content: '';
    display: block;
    width: 2.468153vw; /* 31px */
    height: 1.831210vw; /* 23px */
    background-image: url("../img/rules-button-left.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.rules-link span::before {
    content: '';
    display: block;
    width: 2.468153vw; /* 31px */
    height: 1.831210vw; /* 23px */
    background-image: url("../img/rules-button-right.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.review-section .section-bg.section-bottom-left {
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 18.471338vw; /* 232px */
}

.review-section .section-bg.section-bottom-right {
    top: auto;
    left: auto;
    right: 6.131847vw; /* 77px */
    bottom: 0;
    z-index: 3;
    width: 20.939490vw; /* 263px */
}

.review-section .section-bg.section-bottom-back {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 31.450637vw; /* 395px */
}

.review-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5.732484vw; /* 0 72px */
}

.review-title {
    width: 48.566879vw; /* 610px */
}

.review-swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 3.184713vw; /* 0 40px */
    border-radius: 3.980892vw; /* 50px */
    z-index: 2;
    min-height: 35.828025vw; /* 450px */
}

.review-swiper-bg {
    width: 77.388535vw; /* 972px */
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.swiper-content {
    position: relative;
    z-index: 2;
    height: 32.643312vw; /* 410px */
    display: flex;
    overflow: hidden;
    width: 100%;
    padding: 2.707006vw 2.388535vw 1.592357vw; /* 34px 30px 20px */
}

.swiper-button,
.swiper-pagination-item {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
    will-change: transform;
}

.swiper-item {
    display: grid;
    grid-template-columns: 11.942675vw 1fr; /* 150px 1fr */
    gap: 1.194268vw; /* 15px */
    flex-shrink: 0;
    width: 100%;
}

.swiper-item-photo {
    position: relative;
    width: 11.942675vw; /* 150px */
    height: 11.942675vw; /* 150px */
    background-image: url("../img/review-photo-border.png");
    background-position: top left;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1.592357vw; /* 20px */
}

.review-photo {
    width: 8.917197vw; /* 112px */
    height: 8.917197vw; /* 112px */
    border-radius: 50%;
    object-fit: cover;
}

.swiper-item-text {
    display: flex;
    flex-direction: column;
    gap: 0.318471vw; /* 4px */
}

.swiper-item-text-name {
    font-size: 2.866242vw; /* 36px */
    font-family: var(--font-secondary);
    font-weight: 500;
    background: linear-gradient(180deg, #F2BC56 0%, #D08E1B 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.swiper-item-text-separate {
    width: 27.070064vw; /* 340px */
    margin-bottom: 0.796178vw; /* 10px */
}

.swiper-item-text-review {
    font-size: 2.229299vw; /* 28px */
    font-family: var(--font-secondary);
    font-weight: 500;
    line-height: 120%;
    color: var(--color-yellow-text);
    max-width: 48.566879vw; /* 610px */
}

.swiper-button {
    position: absolute;
    top: 44%;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 4.299363vw; /* 54px */
    z-index: 2;
}

.swiper-button.left-button {
    left: 0;
}

.swiper-button.right-button {
    right: 0;
}

.swiper-pagination {
    position: absolute;
    z-index: 2;
    bottom: 2.388535vw; /* 30px */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1.114650vw; /* 14px */
}

.swiper-pagination-item {
    width: 0.955414vw; /* 12px */
    height: 0.955414vw; /* 12px */
    min-width: 0.955414vw; /* 12px */
    background-color: #793800;
    border: 0.079618vw solid #9A5300; /* 1px */
    border-radius: 50%;
}

.swiper-pagination-item.active {
    background-color: #D27C0B;
    border: 0.079618vw solid #FFEDA2; /* 1px */
}

.mainform-inner {
    padding: 3.980892vw 4.777070vw 3.184713vw; /* 50px 60px 40px */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainform-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 62.101911vw; /* 780px */
}

.mainform-banner-item {
    width: 29.458599vw; /* 370px */
    height: 32.643312vw; /* 410px */
    padding: 3.980892vw 5.254777vw 4.777070vw; /* 50px 66px 60px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../img/mainform-round.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mainform-banner-image {
    width: 19.347134vw; /* 243px */
}

.mainform-banner-image.sm {
    width: 12.738854vw; /* 160px */
}

.mainform-banner-item .separate {
    width: 15.923567vw; /* 200px */
}

.mainform-banner-text {
    font-size: 2.229299vw; /* 28px */
    font-family: var(--font-secondary);
    font-weight: 700;
    line-height: 120%;
    max-width: 18.312102vw; /* 230px */
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F2BC56 0%, #D08E1B 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.mainform-content {
    margin-top: -5.573248vw; /* -70px */
    position: relative;
    z-index: 2;
    padding-top: 7.961783vw; /* 100px */
    width: 100%;
    max-width: 81.210191vw; /* 1020px */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainform-content-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.mainform-content-title {
    width: 69.267516vw; /* 870px */
}

.mainform-action {
    display: flex;
    align-items: center;
    gap: 1.273885vw; /* 16px */
    margin-top: 1.592357vw; /* 20px */
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 1.273885vw; /* 16px */
    width: 41.401274vw; /* 520px */
    height: 7.961783vw; /* 100px */
    padding: 0.796178vw 2.388535vw; /* 10px 30px */
    background-image: url("../img/mainform-input-border.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.input-wrapper img {
    width: 2.547771vw; /* 32px */
}

.mainform-input {
    font-size: 2.229299vw; /* 28px */
    font-family: var(--font-secondary);
    font-weight: 500;
    line-height: 120%;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: var(--color-yellow-text);
}

.mainform-input::placeholder {
    color: var(--color-yellow-text);
}

.mainform-button {
    width: 29.777070vw; /* 374px */
    height: 9.713376vw; /* 122px */
    background-color: transparent;
    border: none;
    font-size: 2.070064vw; /* 26px */
    font-family: var(--font-secondary);
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    color: #531D00;
    background-image: url("../img/mainform-button.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.info-title {
    width: 69.904459vw; /* 878px */
    margin: 0 auto;
}

.info-subtitle {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 1.592357vw; /* 20px */
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.636943vw; /* 8px */
    background: linear-gradient(180deg, #FFFF91 0%, #DAB834 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.infosec-contanct {
    display: flex;
    justify-content: flex-end;
}

.infosec-contact-item {
    width: 33.439490vw; /* 420px */
    height: 31.847134vw; /* 400px */
    position: relative;
    z-index: 2;
    padding: 7.961783vw 0.796178vw 0.796178vw 3.343949vw; /* 100px 10px 10px 42px */
    display: flex;
    flex-direction: column;
    gap: 0.398089vw; /* 5px */
}

.infosec-contact-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

.infosec-contact-content {
    display: flex;
    align-items: center;
    gap: 0.796178vw; /* 10px */
}

.infosec-contact-content.end {
    align-items: flex-start;
}

.infosec-contact-icon {
    width: 4.777070vw; /* 60px */
    height: 4.777070vw; /* 60px */
}

.infosec-contact-text {
    display: flex;
    flex-direction: column;
}

.infosec-contact-text a {
    font-size: 1.592357vw; /* 20px */
    font-family: var(--font-primary);
    font-weight: 700;
    color: var(--color-white);
    line-height: 107%;
    text-decoration: none;
}

.infosec-contact-text a.phone {
    font-size: 2.229299vw; /* 28px */
}

.infosec-contact-text p {
    font-size: 1.273885vw; /* 16px */
    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--color-white);
    line-height: 107%;
}

.infosec-cols {
    display: grid;
    grid-template-columns: 1fr 35.828025vw; /* 1fr 450px */
}

.infosec-col-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.273885vw; /* 16px */
}

.infosec-col-park {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.796178vw; /* 10px */
    width: 40.923567vw; /* 514px */
    padding: 0.796178vw 1.592357vw 0.796178vw; /* 10px 20px 10px */
}

.infosec-col-park-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
}

.infosec-col-park-title {
    display: flex;
    align-items: center;
    gap: 0.477707vw; /* 6px */
}

.infosec-col-park-title img {
    width: 1.910828vw; /* 24px */
}

.infosec-col-park-title h2 {
    font-family: var(--font-secondary);
    font-size: 1.990446vw; /* 25px */
    font-weight: 700;
    text-transform: uppercase;
    line-height: 110%;
    background: linear-gradient(180deg, #F9E287 0%, #5B160C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.infosec-col-park-text {
    display: flex;
    align-items: center;
    gap: 0.477707vw; /* 6px */
}

.infosec-col-park-text p {
    font-family: var(--font-secondary);
    font-size: 0.955414vw; /* 12px */
    font-weight: 700;
    text-transform: uppercase;
    line-height: 110%;
    color: var(--color-white);
}

.infosec-col-park-text .sep {
    display: block;
    width: 0.238854vw; /* 3px */
    height: 0.238854vw; /* 3px */
    min-width: 0.238854vw; /* 3px */
    background-color: #F9F56D;
    border-radius: 50%;
}

.infosec-col-advantage {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    max-width: 96%;
    height: 8.757962vw; /* 110px */
    padding: 0 1.114650vw 0.796178vw 2.070064vw; /* 0px 14px 10px 26px */
}

.infosec-col-advantage-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
}

.infosec-col-advantage-item {
    display: flex;
    align-items: center;
    gap: 0.318471vw; /* 4px */
}

.infosec-col-advantage-item.lg {
    width: 19.904459vw; /* 250px */
}

.infosec-col-advantage-item img {
    width: 3.025478vw; /* 38px */
}

.infosec-col-advantage-item img.lg {
    width: 4.140127vw; /* 52px */
}

.infosec-col-advantage-content {
    display: flex;
    flex-direction: column;
    gap: 0.159236vw; /* 2px */
    max-width: 15.127389vw; /* 190px */
}

.infosec-col-advantage-content p {
    font-family: var(--font-secondary);
    font-size: 1.114650vw; /* 14px */
    font-weight: 700;
    text-transform: uppercase;
    line-height: 110%;
    color: #EED035;
}

.infosec-col-advantage-content span {
    font-family: var(--font-primary);
    font-size: 0.955414vw; /* 12px */
    font-weight: 700;
    text-transform: uppercase;
    line-height: 110%;
    color: var(--color-white);
}

.infosec-col-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.477707vw; /* 6px */
}

.infoesc-col-rate {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    height: 11.546497vw; /* 145px */
    padding: 0.796178vw 2.229299vw; /* 10px 28px */
    width: 100%;
}

.infoesc-col-rate-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
}

.infoesc-col-rate-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.796178vw; /* 10px */
}

.infoesc-col-rate-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoesc-col-rate-item p {
    display: flex;
    align-items: center;
    height: 3.343949vw; /* 42px */
    gap: 0.477707vw; /* 6px */
    font-family: var(--font-primary);
    font-size: 2.070064vw; /* 26px */
    font-weight: 700;
    text-transform: uppercase;
    line-height: 110%;
    background: linear-gradient(180deg, #FFF38F 0%, #B37708 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.infoesc-col-rate-item p img {
    width: 3.025478vw; /* 38px */
    position: relative;
    top: -0.159236vw; /* -2px */
}

.infoesc-col-rate-item p img.sm {
    width: 2.308917vw; /* 29px */
}

.infoesc-col-rate-item span {
    font-family: var(--font-primary);
    font-size: 1.114650vw; /* 14px */
    font-weight: 500;
    line-height: 110%;
    color: var(--color-white);
}

.infoesc-col-rate-text {
    display: flex;
    align-items: center;
    gap: 0.796178vw; /* 10px */
    margin-top: 0.636943vw; /* 8px */
}

.infoesc-col-rate-text img {
    width: 3.423566vw; /* 43px */
}

.infoesc-col-rate-text p {
    font-family: var(--font-primary);
    font-size: 1.512739vw; /* 19px */
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFF38F;
    display: flex;
    flex-direction: column;
}

.infoesc-col-rate-text p span {
    font-size: 1.273885vw; /* 16px */
}

.buy-tickets {
    width: 35.350318vw; /* 444px */
    height: 7.961783vw; /* 100px */
    background-color: transparent;
    border: none;
    background-image: url("../img/infosec-button.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.796178vw; /* 10px */
}

.buy-tickets img {
    width: 2.229299vw; /* 28px */
}

.buy-tickets span {
    font-family: var(--font-secondary);
    font-size: 3.025478vw; /* 38px */
    font-weight: 900;
    line-height: 110%;
    text-transform: uppercase;
    color: #0C0308;
    letter-spacing: 0;
}

.infosec-social {
    display: flex;
    align-items: flex-end;
    gap: 1.114650vw; /* 14px */
    margin-top: -3.184713vw; /* -40px */
}

.infosec-form {
    position: relative;
    z-index: 2;
    width: 48.726115vw; /* 612px */
    height: 12.420382vw; /* 156px */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.273885vw; /* 16px */
    padding: 2.866242vw 1.592357vw 0.796178vw; /* 36px 20px 10px */
}

.infosec-form form {
    width: 100%;
    max-width: 44.585987vw;
    margin: 0 auto;
}

.infosec-form-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.infosec-form-title {
    width: 40.605096vw; /* 510px */
}

.infosec-form-row {
    display: flex;
    align-items: center;
    gap: 1.592357vw; /* 20px */
    width: 100%;
    max-width: 44.585987vw; /* 560px */
}

.infosec-form-row input {
    width: 100%;
}

.infosec-form-row .route-input {
    width: 100%;
}

.infosec-form-row-button {
    width: 16.484076vw; /* 207px */
    min-width: 16.484076vw; /* 207px */
    height: 4.060510vw; /* 51px */
    background-image: url("../img/infosec-form-button.png");
    background-color: transparent;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.796178vw; /* 10px */
    font-family: var(--font-secondary);
    font-size: 1.751592vw; /* 22px */
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    color: #0C0308;
}

.infosec-form-row-button img {
    width: 1.353503vw; /* 17px */
}

.infosec-links {
    display: flex;
    align-items: center;
    gap: 0.955414vw; /* 12px */
}

.infosec-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.318471vw; /* 4px */
    padding: 0.955414vw; /* 12px */
    width: 13.535032vw; /* 170px */
    height: 6.050955vw; /* 76px */
    background-image: url("../img/svg/bg-item.svg");
    background-color: transparent;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-decoration: none;
}

.infosec-link-item:last-child {
    background-size: 100% 100%;
    width: 14.649682vw; /* 184px */
}

.infosec-link-item img {
    width: 3.343949vw; /* 42px */
    min-width: 3.343949vw; /* 42px */
    height: 3.343949vw; /* 42px */
}

.infosec-link-item span {
    font-family: var(--font-secondary);
    font-size: 1.273885vw; /* 16px */
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    color: #EED035;
}

.route-inner {
    max-width: 89.171975vw; /* 1120px */
    width: 100%;
    margin: 0 auto;
}

.route-title {
    width: 52.308917vw; /* 657px */
    margin: 0 auto;
}

.route-advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.035032vw; /* 13px */
    margin-top: 1.273885vw; /* 16px */
}

.route-advantages.route-row {
    display: flex;
    width: 100%;
    margin-top: 0.318471vw; /* 4px */
}

.route-advantages-item {
    border-radius: 1.194268vw; /* 15px */
    border: 0.079618vw solid #E5D38A; /* 1px */
    padding: 0.796178vw 1.910828vw 1.114650vw 1.114650vw; /* 10px 24px 14px 14px */
    display: flex;
    align-items: center;
    gap: 0.955414vw; /* 12px */
    width: 100%;
}

.route-advantages.route-row .route-advantages-item {
    gap: 0.477707vw; /* 6px */
    padding: 0.955414vw 0.875796vw 1.114650vw; /* 12px 11px 14px */
    width: fit-content;
    max-width: 19.267516vw; /* 242px */
    min-width: 16.5vw;
}

.route-advantages-item img {
    width: 5.175159vw; /* 65px */
}

.route-advantages.route-row .route-advantages-item img {
    min-width: 4vw; /* 60px */
}

.route-advantages-item img.sm {
    width: 4.617834vw; /* 58px */
}

.route-advantages-content p {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 1.273885vw; /* 16px */
    color: #EED035;
    line-height: 120%;
    text-transform: uppercase;
}

.route-advantages-content span {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.114650vw; /* 14px */
    color: var(--color-white);
    line-height: 107%;
}

.route-map-item {
    margin-top: 1.273885vw; /* 16px */
    padding: 1.592357vw 1.751592vw 1.592357vw 2.866242vw; /* 20px 22px 20px 36px */
    display: flex;
    position: relative;
    gap: 0.955414vw; /* 12px */
}

.route-map-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 20.222930vw; /* 254px */
    gap: 0.796178vw; /* 10px */
}

.route-map-place {
    width: 20.222930vw; /* 254px */
}

.route-map-border {
    padding: 1.273885vw; /* 16px */
    display: flex;
    align-items: flex-start;
    gap: 0.636943vw; /* 8px */
    border: 0.079618vw solid #E5D38A; /* 1px */
    border-radius: 1.194268vw; /* 15px */
}

.route-map-border img {
    width: 1.273885vw; /* 16px */
    margin-top: -0.398089vw; /* -5px */
}

.route-map-border p {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.273885vw; /* 16px */
    color: var(--color-white);
    line-height: 120%;
}

.route-map-border.route-map-code {
    padding: 1.910828vw 1.672129vw; /* 24px 21px */
    gap: 1.592357vw; /* 20px */
}

.route-map-border.route-map-code img {
    width: 6.369427vw; /* 80px */
    margin-top: 0;
}

.route-map-border.route-map-code p {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.114650vw; /* 14px */
    color: var(--color-white);
    line-height: 110%;
    max-width: 7.961783vw; /* 100px */
    text-transform: uppercase;
}

.route-map-wrapper {
    padding: 0.159236vw; /* 2px */
    border-radius: 0 3.980892vw 3.980892vw 0; /* 0 50px 50px 0 */
    width: 100%;
    height: 28.742038vw; /* 361px */
    background-image: linear-gradient(90deg, #D4B74E 0%, #532A17 7%, #E5D38A 24%, #4A1403 50%, #E5D38A 76%, #532A17 100%);
    overflow: hidden;
}

.route-map-wrapper iframe {
    border-radius: 0 3.980892vw 3.980892vw 0; /* 0 50px 50px 0 */
    width: 63vw;
    height: 28.4vw;
}

.route-map-time {
    position: absolute;
    bottom: 0.477707vw; /* 6px */
    right: 1.592357vw; /* 20px */
    width: 12.101911vw; /* 152px */
}

.route-social {
    display: flex;
    gap: 0.796178vw; /* 10px */
    margin-top: 1.273885vw; /* 16px */
}

.route-social-form {
    display: flex;
    flex-direction: column;
    padding: 2.229299vw 2.388535vw 2.866242vw; /* 28px 30px 36px */
    align-items: center;
    width: 100%;
    max-width: 39.808917vw; /* 500px */
    position: relative;
    background-image: url("../img/rout-itembg.png");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.route-social-form-title {
    width: 23.885350vw; /* 300px */
    margin-bottom: 0.955414vw; /* 12px */
}

.route-social-form-text {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 1.433121vw; /* 18px */
    color: var(--color-white);
    line-height: 120%;
    text-align: center;
}

.route-social-form-action {
    position: relative;
    margin-top: 1.433121vw; /* 18px */
}

.route-input {
    display: flex;
    align-items: center;
    padding: 0.955414vw; /* 12px */
    border-radius: 1.035032vw; /* 13px */
    border: 0.079618vw solid #797D77; /* 1px */
    gap: 0.875796vw; /* 11px */
}

.route-input svg {
    width: 1.273885vw;
    height: 1.273885vw;
}

.route-social-form-action .route-input {
    padding: 0.955414vw 9.554140vw 0.955414vw 0.955414vw; /* 12px 120px 12px 12px */
}

.route-social-form-action .route-input input {
    width: 22.292994vw; /* 280px */
}

.route-input input {
    color: #797D77;
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 1.273885vw; /* 16px */
    line-height: 120%;
    background-color: transparent;
    border: none;
    outline: none;
}

.route-input input::placeholder {
    color: #797D77;
}

.route-form-button {
    color: #0C0308;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 1.433121vw; /* 18px */
    line-height: 120%;
    text-transform: uppercase;
    padding: 1.035032vw 1.433121vw; /* 13px 18px */
    background-color: transparent;
    border: none;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: -0.079618vw; /* -1px */
    cursor: pointer;
    background-image: url("../img/rout-button.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: transform 400ms ease-in-out;
}

.route-social-links {
    padding: 1.751592vw 1.433121vw 1.114650vw; /* 22px 18px 14px */
    border-radius: 1.194268vw; /* 15px */
    display: flex;
    flex-direction: column;
    gap: 0.318471vw; /* 4px */
    border: 0.079618vw solid #E5D38A; /* 1px */
    width: 18.152866vw; /* 228px */
}

.route-social-title {
    color: #F9E26E;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 1.433121vw; /* 18px */
    line-height: 120%;
    text-transform: uppercase;
}

.route-social-text {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.114650vw; /* 14px */
    color: var(--color-white);
    line-height: 110%;
}

.route-links-row {
    display: flex;
    align-items: center;
    gap: 0.636943vw; /* 8px */
    margin-top: auto;
}

.route-links-row a {
    cursor: pointer;
    text-decoration: none;
    transition: transform 400ms ease-in-out;
}

.route-links-row a img {
    width: 3.343949vw; /* 42px */
    height: 3.343949vw; /* 42px */
}

@media (hover: hover) {
    .rules-link:hover,
    .route-form-button:hover {
        transform: scale(1.02);
    }
    .route-links-row a:hover {
        transform: scale(1.06);
    }
}

.hero-section {
    max-height: 55.210191vw; /* 706px */
    overflow: hidden;
}

.director-section {
    max-height: 51.229299vw; /* 656px */
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.faq-section {
    min-height: 55.8vw; /* 706px */
}

.rules-section {
    min-height: 47vw; /* 596px */
}

.review-section {
    min-height: 51.5vw; /* 660px */
}

.mainform-section {
    min-height: 65vw; /* 836px */
}

.info-section {
    min-height: 73.75vw; /* 935px */
}

.schedule-section {
    min-height: 60vw; /* 766px */
}